doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-fomulario   
            h1 Incia Sesión en UpTask 

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo  
                    label(for="email") Email 
                    input(type="email" name = "email" placeholder="Tu Email" required value= email)
                .campo
                    label(for="email") Password
                    input(type="password" name = "password" placeholder="Tu Pasword" required value= password)
                .campo.enviar
                    input.boton(type="submit" value = "Iniciar Sesión")
                .campo 
                    a(href="/crear-cuenta") ¿Aún no tienes cuenta? Crea una gratis
