extends layout
block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
            .campo 
                label(for="tarea") Tarea: 
                input.nombre-tarea(type= "text" name= "tarea" placeholder="Nombre de tarea")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value= "Agregar")


        //TODO pending list
        // pre= vardump(proyecto)

        // actions that can be performed

        .contenedor-acciones 
            a(href=`/proyecto/editar/${proyecto.id}` class = "boton") Editar 
            button#eliminar-proyecto(data-proyecto-url= proyecto.url type="button" class ="boton eliminar") Eliminar
